# COVID in Germany

In [3]:
import os.path
import pandas as pd

Test with data from https://npgeo-corona-npgeo-de.hub.arcgis.com/ (see ../ideas.org for details)

In [13]:
datasource = "https://opendata.arcgis.com/datasets/917fc37a709542548cc3be077a786c17_0.csv"
filename = os.path.split(datasource)[1]
if os.path.exists(filename):
    print("Data downloaded already - delete file if you want a more recent copy")
    !ls -l $filename
else:
    !wget $datasource

Data downloaded already - delete file if you want a more recent copy
-rw-r--r--  1 fangohr  staff  123477 Mar 30 14:55 917fc37a709542548cc3be077a786c17_0.csv

In [15]:
df = pd.read_csv(filename)

In [20]:
df.describe()

,OBJECTID,ADE,GF,BSG,RS,AGS,SDV_RS,IBZ,SN_L,SN_R,...,EWZ,KFL,Shape__Area,Shape__Length,death_rate,cases,deaths,cases_per_100k,cases_per_population,BL_ID
count,412.000000,400.0,400.0,400.0,412.000000,400.00000,4.000000e+02,400.000000,400.000000,400.000000,...,4.120000e+02,400.000000,4.120000e+02,4.120000e+02,412.000000,412.000000,412.000000,412.000000,412.000000,412.000000
mean,206.771845,4.0,4.0,1.0,8378.065534,8299.21250,8.298040e+10,42.142500,7.972500,2.780000,...,2.017689e+05,891.726750,8.669283e+08,2.107930e+05,0.664425,139.072816,1.104369,66.766736,0.066767,8.060680
std,119.468700,0.0,0.0,0.0,3737.193823,3764.65843,3.764834e+10,1.298618,3.805647,2.397074,...,1.717528e+05,725.202263,7.260308e+08,1.223917e+05,1.170559,196.290575,2.533720,56.466673,0.056467,3.784166
min,1.000000,4.0,4.0,1.0,1001.000000,1001.00000,1.001000e+10,40.000000,1.000000,0.000000,...,3.420900e+04,35.700000,2.042866e+07,3.079684e+04,0.000000,1.000000,0.000000,2.360160,0.002360,1.000000
25%,103.750000,4.0,4.0,1.0,5773.000000,5761.00000,5.761002e+10,41.000000,5.000000,1.000000,...,1.058390e+05,278.010000,2.240654e+08,1.057747e+05,0.000000,48.000000,0.000000,34.988510,0.034989,5.000000
50%,206.500000,4.0,4.0,1.0,8316.500000,8233.00000,8.231000e+10,43.000000,8.000000,3.000000,...,1.579305e+05,797.425000,7.782234e+08,2.127397e+05,0.000000,89.500000,0.000000,54.348059,0.054348,8.000000
75%,309.250000,4.0,4.0,1.0,9771.250000,9675.25000,9.673262e+10,43.000000,9.000000,4.000000,...,2.509708e+05,1264.152500,1.248695e+09,2.862319e+05,0.975680,159.500000,1.000000,81.965183,0.081965,9.000000
max,415.000000,4.0,4.0,1.0,16077.000000,16077.00000,1.607700e+11,46.000000,16.000000,9.000000,...,1.841179e+06,5495.610000,5.500547e+09,1.130009e+06,10.563380,2283.000000,31.000000,575.140682,0.575141,16.000000

Shows all the 'Landkreise'

In [31]:
df['county']

0                            SK Flensburg
1                                 SK Kiel
2                               SK Lübeck
3                           SK Neumünster
4                         LK Dithmarschen
                      ...
407                     SK Berlin Spandau
408         SK Berlin Steglitz-Zehlendorf
409                       SK Berlin Mitte
410    SK Berlin Friedrichshain-Kreuzberg
411        SK Berlin Tempelhof-Schöneberg
Name: county, Length: 412, dtype: object

In [32]:
df[df['county']=="LK Pinneberg"]

,OBJECTID,ADE,GF,BSG,RS,AGS,SDV_RS,GEN,BEZ,IBZ,...,Shape__Length,death_rate,cases,deaths,cases_per_100k,cases_per_population,BL,BL_ID,county,last_update
8,9,4.0,4.0,1.0,1056,1056.0,1.056004e+10,Pinneberg,Kreis,42.0,...,185849.136734,1.041667,192,2,61.07045,0.06107,Schleswig-Holstein,1,LK Pinneberg,30.03.2020 00:00

but only for one point in time

In [38]:
df['last_update'].describe()

count                  412
unique                   1
top       30.03.2020 00:00
freq                   412
Name: last_update, dtype: object